body {
  padding-top: 70px;
}
.jumbotron {
  padding-left: 10px;
  padding-right: 10px;
}
/* remove borders for table - http://stackoverflow.com/a/24830641 */
.my-borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th {
  border: none;
}
/* add an asterix for each required field */
.required:after {
  color: #a94442;
  content: "*";
  margin-left: 5px;
  position: absolute;
  top: 3px;
}
